### User-specific stuff:
/.git*
/.idea/workspace.xml
.dockerignore

### Other data
storage/mysql-data
vendor/
bootstrap/cache
!bootstrap/cache/.gitignore
.phpstorm.meta.php
_ide_helper.php

### Vendor bin dependencies
/tools/*/vendor/
.phpunit.cache
.phpunit.result.cache

### Docker
Dockerfile
docker-compose.yml
docker-compose-test-ci.yml
docker-compose-staging.yml
docker-compose-prod.yml
