reports/*
!reports/.gitkeep

###> laravel ###
/.vscode
/.vagrant
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/mysql-data/
/vendor
/tools/**/vendor
Homestead.yaml
Homestead.json
auth.json
.env
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php
npm-debug.log
yarn-error.log
###< laravel ###

###> phpunit ###
.phpunit.result.cache
.phpunit.cache
###< phpunit ###

###> friendsofphp/php-cs-fixer ###
.php-cs-fixer.cache
.php_cs
.php_cs.cache
###< friendsofphp/php-cs-fixer ###
