/.idea
/.vscode
/.vagrant
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/mysql-data/
/vendor
/tools/**/vendor
Homestead.yaml
Homestead.json
.env
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php
reports/*
!reports/.gitkeep
npm-debug.log
yarn-error.log
.phpunit.result.cache
.php_cs
.php_cs.cache
