* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
docs/postman/symfony.postman_collection.json binary
tools/**/composer.lock binary
composer.lock binary
